@import '~less/variables';

.userLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 500px;
  align-items: center;
  background: #f0f2f5;

  .globalIcon {
    position: absolute;
    top: 5px;
    right: 16px;
  }
}

.lang {
  margin-right: 5px;
}

.header {
  margin: 50px 0 24px;
  text-align: center;

  .title {
    margin-left: 16px;
    font-size: 33px;
    font-weight: @font-bold;
  }
  
  .desc {
    margin-top: 12px;
    margin-bottom: 40px;
    color: @placeholder-color;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
  color: rgba(0, 0, 0, .45);
  font-size: @size-normal;

  .top {
    margin-bottom: 8px;
  }
}