@import '~less/variables';

.notFoundWrapper {
  height: 100%;
  padding-top: 132px;
  text-align: center;

  img {
    height: 200px;
    user-select: none;
  }

  & > div {
    display: inline-block;
    vertical-align: top;
    width: 600px;
    margin-left: 60px;

    & > span {
      opacity: 0.4;
      font-size: 120px;
      line-height: 168px;
      color: #abb4be;
      user-select: none;

      & + p {
        text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
        font-size: @size-tiny-large;
        font-weight: @font-bold;
        line-height: 1.4;
        color: #242e42;
        text-align: left;
      }
    }
  }
}