@import '~less/variables';
@import '~less/mixins';

.preview {
  :global(.ant-modal-close) {
    display: none;
  }

  :global(.ant-modal-header) {
    display: none;
  }
}

.img {
  width: 920px;
  height: 450px;
  margin: 0 auto;
  text-align: center;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  color: #999999;
}

.avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.author {
  margin-right: 24px;
}

.forEditor {
  :global(.for-edit-preview) {
    display: none;
  }
}

.labels {
  .label {
    display: inline-block;
    .TypographySymbolText(#666666);
    height: 30px;
    margin-right: 24px;
    padding: 0 10px;
    line-height: 30px;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 20px;
    

    & img {
      margin-right: 5px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.exceptional {
  .flex();
  flex-direction: column;
  margin-top: 53px;
}

.rewardImg {
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transform: translateY(-2px);
  }
}

.text {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  color: #666666;
}

.already {
  margin-bottom: 15px;
  font-size: @size-normal;
}

.actions {
  display: flex;
  align-items: center;
  color: #666666;

  & img {
    cursor: pointer;
  }
}