/* 全局样式, 后期建议放到global.css中 */
body {
  margin: 0;
  background-color: #f8f8f8;
  position: relative;
  min-height: 100vh;
}

.copyright, .authority {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 14px;
}

.authority {
  bottom: 40px;
  text-align: center;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  color: #999;
}

/* 头部样式 start */
.headerContainer {
  position: fixed;
  top: 0;
  width: calc(100vw - 200px);
  height: 60px;
  background-color: #fff;
  display: flex;
  padding: 0 100px;
  align-items: center;
  justify-content: space-between;
  min-width: 980px;
  transition: top 0.3s ease-in;
  z-index: 50;
}

/* 头部logo */
.logo {
  display: flex;
  align-items: center;
}

.logo .logoImg {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.logo>span {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}

/* 头部分类列表 */
.category {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category .box {
  width: 252px;
  display: flex;
  justify-content: space-between;
}
.category .box a:hover {
  color: #333;
  font-weight: 600;
} 
/* 头部其他 */
.other {
  width: 479px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other .button {
  height: 40px;
  width: 96px;
  border-radius: 2px;
  background-color: #51B266;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.other .search {
  flex: 1;
  margin: 0 45px;
  height: 28px;
  outline: none;
  padding: 0;
  background: url(assets/search.png) no-repeat;
  background-position: 3px;
  padding-left: 26px;
  background-size: 20px;
  border: 1px solid transparent;
  transition: border-color 0.5s ease-in-out;
  border-radius: 2px;
}

.other .search:hover {
  border-bottom: 1px solid #000;
}

.other .search:focus {
  border-bottom: 1px solid #000;
}

.noticeBox {
  width: 76px;
  display: flex;
  justify-content: space-between;
}

.noticeBox .notice, .noticeBox .avatar {
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.noticeBox .notice {
  background: url(assets/notice.png) no-repeat;
}

.noticeBox .avatar {
  border-radius: 14px;
  background: url(assets/avatar.svg) no-repeat;
}

/* 头部样式 end */

@media (max-width: 414px) {
  .headerContainer{
    width: calc(100% - 40px) ;
    height: 60px;
    padding: 0 20px;
    flex-wrap: wrap;
    min-width: 0;
  }
  .headerContainer .logo {
    width: 125px;
  }
  .headerContainer .category {
    flex: 1;
  }
  .headerContainer .category .box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .headerContainer .other {
    display: none;
  }
}