
/* 内容样式 start*/
.contentContainer{
  margin: 32px 260px 0;
}
.contentContainer .carouselBox{
  min-width: 920px;
  height: 264px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  display: flex;
  justify-content: space-between;
}
.contentContainer .carouselBox .content{
  width: 100%;
  padding: 40px;
}
.contentContainer .carouselBox .content .title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #2D3748;
}
.contentContainer .carouselBox .content .introduction {
  margin-top: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #718096;
}
.contentContainer .carouselBox .content .foot {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  height: 17px;
}
.contentContainer .carouselBox .content .foot .date {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #718096;
}
.contentContainer .carouselBox .content .foot .author {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #2D3748;
}
.contentContainer .carouselBox .homeImg{
  min-width: 432px;
  text-align: right;
  height: 100%;
}
.contentContainer .recommendBox {
  margin-top: 32px;
  min-width: 920px;
  min-height: 300px;
  position: relative;
}
.contentContainer .recommendBox .title{
  height: 25px;
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 16px;
}
.contentContainer .recommendBox .title > span{
  margin-right: 32px;
}
.contentContainer .recommendBox .childBox {
  display: flex;
  justify-content: space-between;
}
.contentContainer .recommendBox .childBox .updataBox {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata {
  min-width: 200px;
  background-color: #fff;
  margin-right: 40px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .childUpdataImg {
  width: 100%;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent {
  padding: 8px 16px 16px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updataAuthor {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updataAuthor .updataAvatar{
  width: 24px;
  height: 24px;
  border-radius: 14px;
  background: url(assets/avatar.png) no-repeat;
  background-size: 24px;
  margin-right: 8px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updataAuthor .updataAuthorName {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #2D3748;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updatatitle {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 8px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updatatContent {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  text-align: justify;
  color: #999999;
  margin-bottom: 8px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updataOther {
  display: flex;
  justify-content: space-between;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .date {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon {
  display: flex;
  align-items: center;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon >div {
  width: 35px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon >div >img{
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon >div >span {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}
.contentContainer .recommendBox .childBox .columnBox {
  width: 200px;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 4px;
}
.contentContainer .recommendBox .childBox .columnBox .title {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
.contentContainer .recommendBox .childBox .columnBox .list {
  height: 58px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contentContainer .recommendBox .childBox .columnBox .list .listImg {
  width: 48px;
  height: 100%;
}
.contentContainer .recommendBox .childBox .columnBox .list .content {
  margin-left: 8px;
}
.contentContainer .recommendBox .childBox .columnBox .list .content>.title {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 4px;
}
.contentContainer .recommendBox .childBox .columnBox .list .content .introduction {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
/* 内容样式 end */