.homeContainer {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
.homeContainer .loginLogo {
  height: 60px;
  width: 168px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}
.homeContainer .loginLogo .logoPicture {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
.homeContainer .loginLogo>span {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}
.homeBackGround {
  width: 100vw;
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
}
.homeBackGround>img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.homeContent {
  position: absolute;
  top: 25%;
  left: 7%;
  max-width: 650px;
}
.homeContent .imgBox{
  display: none;
}
.homeContent .title {
  padding: 10px 49px;
  width: calc(100% - 98px) ;
  height: 90px;
  background-color: #74DC87;
  font-weight: 500;
  font-size: 64px;
  line-height: 90px;
  color: #fff;
  border-radius: 7px;
  margin-bottom: 44px;
}
.homeContent .content {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.14em;
  color: #333333;
  margin-bottom: 48px;
  text-align: justify;
}
.homeContent .btnBox {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
}
.homeContent .btnBox > a {
  width: 96px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;
}
.homeContent .btnBox .startUse {
  background-color: #51B266;
  color: #fff;
}
.homeContent .btnBox .goGithub {
  background-color: #fff;
  color: #74DC87;
  filter: drop-shadow(0px 2px 5px rgba(81, 178, 102, 0.2));
}

@media (max-width: 800px) {
  .homeContainer {
    min-width: 100%;
  }
  .homeBackGround {
    display: none;
  }
  .homeContainer .loginLogo {
    width: 100px;
  }
  .homeContent {
    padding-top: 100px;
    width: 90vw;
    position: unset;
    margin: auto;
  }
  .homeContent .title {
    font-size: 22px;
    padding: 10px 73px;
    width: calc(100% - 146px);
    line-height: 50px;
    height: 50px;
  }
  .homeContent .btnBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    transform: translateY(-140px);
  }
  .homeContent .imgBox{
    display: block;
    opacity: 0.5;
  }
  .homeContent .imgBox>img {
    width: 100%;
    opacity: .6;
  }
}