
/* 内容样式 start*/
.contentContainer{
  margin: auto;
  display: flex;
  justify-content: center;
  min-width: 1024px;
  padding-bottom: 70px;
  padding-top: 92px;
}
.homeWidth {
  width: 960px;
}
.contentContainer .carouselBox{
  min-width: 920px;
  height: 264px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.contentContainer .carouselBox .content{
  width: calc(100% - 600px);
  padding: 40px;
}
.contentContainer .carouselBox .content .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #2D3748;
}
.contentContainer .carouselBox .content .introduction {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #718096;
}
.contentContainer .carouselBox .adImg{
  width: 600px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.contentContainer .adImg > img{
  width: 100%;
  display: block;
}

.contentContainer .recommendBox, .three_recommendBox {
  margin-top: 32px;
  min-width: 920px;
  min-height: 300px;
  position: relative;
}
.contentContainer .recommendBox .title{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  margin-bottom: 16px;
}
.contentContainer .recommendBox .title > span{
  margin-right: 32px;
}
.contentContainer .recommendBox .childBox {
  display: flex;
}
.contentContainer .recommendBox .horizontal {
  width: calc(100% - 48px);
  height: 238px;
  padding: 24px;
  display: inline-flex;
  margin-top: 8px;
}
.contentContainer .recommendBox .horizontal:hover {
  background-color: #fff;
}
.contentContainer .recommendBox .horizontal:hover .second_content .second_other .second_info .second_avatar {
  background: url(assets/avatar.svg) no-repeat !important;
}
.contentContainer .recommendBox .horizontal .second_imgBox {
  display: block;
  width: 300px;
  height: 100%;
  overflow: hidden;
}
.horizontal .second_imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contentContainer .recommendBox .horizontal .second_content {
  width: calc(100% - 324px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 24px;
}
.contentContainer .recommendBox .horizontal .second_content .second_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contentContainer .recommendBox .horizontal .second_content .second_desc {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #666666;
  min-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
}
.contentContainer .recommendBox .horizontal .second_content .second_other {
  display: flex;
  justify-content: space-between;
} 
.second_content .second_other .second_info {
  display: flex;
  align-items: center;
}
.second_content .second_other .second_info .second_author {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #999999;
  margin-left: 8px;
  margin-right: 32px;
}
.three_recommendBox {
  margin: 0;
}
.three_waterfall {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.three_waterfall > div {
  width: calc(50% - 38.5px);
  height: 100%;
}
.three_rightPart {
  margin-top: 60px;
}
.three_positionBox {
  position: relative;
  width: 100%;
  height: 340px;
  margin-bottom: 40px;
  display: block;
}
.three_title_top {
  display: none;
}
.three_positionBox:hover .three_content {
  opacity: 1;
  background: rgba(255, 255, 255, 0.9);
}
.three_content, .three_img {
  width: 100%;
  height: 100%;
}
.three_img img{
  width: 100%;
  height: 100%;
}
.three_content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  padding: 40px;
  backdrop-filter: blur(20px);
  transition: opacity 0.3s ease-in;
}
.three_title, .three_desc  {
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #333333;
}
.three_title{
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 16px;
  min-height: 100px;
}
.three_desc {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 45px;
  min-height: 75px;
}
.three_other, .three_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.three_info {
  justify-content: unset;
}
.contentContainer .recommendBox .childBox .updataBox {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.recommendBox .childBox .updataBox .childUpdata {
  margin-bottom: 20px;
  width: 200px;
  background-color: #fff;
  margin-right: 40px;
  border-radius: 4px;
}
.recommendBox .childBox .updataBox .childUpdata .imgWrap {
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.updataBox .childUpdata .imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.recommendBox .childBox .updataBox .childUpdata .updataContent {
  padding: 16px;
}
.recommendBox .childBox .updataBox .childUpdata .updataContent .authorInfo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.three_avatar, .second_content .second_other .second_info .second_avatar, .recommendBox .childBox .updataBox .childUpdata .updataContent .authorInfo .avatar {
  width: 24px;
  height: 24px;
  border-radius: 14px;
  background: url(assets/avatar.svg) no-repeat;
  margin-right: 8px;
}
.second_content .second_other .second_info .second_avatar {
  background: url(assets/avatar_dark.svg) no-repeat !important;
}
.three_date, .three_author, .second_content .second_other .second_flover .homeFlover, .second_content .second_other .second_info .second_date,.childUpdata .updataContent .date, .childUpdata .updataContent .authorInfo .author {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #2D3748;
}
.three_author, .three_date {
  color: #333;
  margin-left: 12px;
}
.second_content .second_other .second_flover .homeFlover, .second_content .second_other .second_info .second_date,.childUpdata .updataContent .date {
  color: #999;
}
.recommendBox .childBox .updataBox .childUpdata .updataContent .updataAuthor {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updatatitle,.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updatatContent {
  width: 168px;
  font-style: normal;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updatatitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  min-height: 44px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updatatitle:hover {
  color: #51B266;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .updatatContent {
  font-size: 14px;
  line-height: 180%;
  min-height: 50px;
  text-align: justify;
  color: #999999;
}
.recommendBox .childBox .updataBox .childUpdata .updataContent .updataOther {
  display: flex;
  justify-content: space-between;
}

.second_content .second_other .second_flover, .recommendBox .childBox .updataBox .childUpdata .updataContent .updataOther #homeFloverBox {
  display: flex;
  align-items: center;
}
.second_content .second_other .second_flover #img_like_home,.recommendBox .childBox .updataBox .childUpdata .updataContent .updataOther #homeFloverBox #img_like_home {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon {
  display: flex;
  align-items: center;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon >div {
  width: 35px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon >div >img{
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.contentContainer .recommendBox .childBox .updataBox .childUpdata .updataContent .icon >div >span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}
.contentContainer .recommendBox .childBox .columnBox {
  align-self: flex-start;
  width: 200px;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 4px;
}
.contentContainer .recommendBox .childBox .columnBox .title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px !important;
  color: #000;
}
.contentContainer .recommendBox .childBox .columnBox .item {
  height: 58px;
  margin-bottom: 16px;
  width: 100%;
}
.childBox .columnBox .item {
  margin-bottom: 16px;
  display: flex;
}
.childBox .columnBox .item > img {
  width: 48px;
}
.childBox .columnBox .content {
  margin-left: 12px;
}
.childBox .columnBox .content > .title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 20px;
  color: #000;
  margin-bottom: 4px;
}
.childBox .columnBox .content > .title:hover {
  color: #51B266;
}
.contentContainer .recommendBox .childBox .columnBox .content .introduction {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
/* 内容样式 end */

@media (max-width: 414px) {
  .contentContainer {
    width: calc(100% - 32px);
    min-width: 0;
    margin: 0;
    padding: 16px;
    padding-bottom: 80px;
    padding-top: 96px;
  }
  .contentContainer .homeWidth {
    width: 100%;
  }
  .contentContainer .homeWidth .carouselBox {
    display: none;
  }
  .contentContainer .homeWidth .recommendBox .title {
    display: none;
  }
  .contentContainer .homeWidth .recommendBox,   .contentContainer .three_recommendBox {
    width: 100%;
    min-width: 0;
    margin-top: 0;
  }
  .contentContainer .homeWidth .recommendBox .childBox .updataBox {
    display: flex;
    flex-direction: column;
  }
  .recommendBox .childBox .updataBox .childUpdata {
    width: 100%;
    min-height: 300px;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
  .recommendBox .childBox .updataBox .childUpdata .imgWrap {
    display: table-cell;
    vertical-align: middle;
    height: 180px;
  }
  .recommendBox .childBox .updataBox .childUpdata .imgWrap img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
  .contentContainer .homeWidth .columnBox {
    display: none;
  }
  .recommendBox .childBox .updataBox .childUpdata .updataContent  {
    width: 100%;
  }

  .contentContainer .recommendBox .second_childBox,.contentContainer .recommendBox .second_childBox .horizontal {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contentContainer .recommendBox .second_childBox .horizontal {
    padding: 22px;
    width: calc(100% - 44px);
    height: unset;
    background-color: #fff;
  }
  .contentContainer .recommendBox .second_childBox .horizontal .second_imgBox {
    width: 100%;
    height: 190px;
  }
  .contentContainer .recommendBox .horizontal .second_content {
    width: 100%;
    padding-left: 0;
    margin-top: 14px;
  }
  .contentContainer .recommendBox .horizontal .second_content .second_title {
    letter-spacing: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 16px;
    white-space: unset;
  }

  .three_waterfall {
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }
  .three_waterfall > div {
    width: 100%;
  }
  .three_rightPart {
    margin-top: 0;
  }
  .three_title_top {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 16px;
  }
  .three_img {
    height: 264px;
  }
}