.container {
  width: 100vw;
  height: calc(100vh - 60px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.container .loginLogo {
  height: 60px;
  width: 168px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.container .loginLogo .logoPicture {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.container .loginLogo>span {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.container .imgBox {
  width: 100%;
  height: 80%;
}

.container .imgBox .loginBanner {
  width: 100%;
  height: 100%;
}

.container .loginBox {
  width: 414px;
  height: 534px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 32px;
}

.container .loginBox h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  color: #1A202C;
  margin: 0;
  margin-bottom: 5px;
}

.container .loginBox>span {
  font-size: 18px;
  line-height: 25px;
  color: #1A202C;
}

.container .loginBox .goReg {
  color: #04C35C;
}

.container .loginBox .inputBox {
  width: 100%;
  height: calc(100% - 127px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
}

.container .loginBox .inputBox .infoInput {
  flex: 1;
}

.container .loginBox .inputBox .infoInput span {
  font-size: 16px;
  line-height: 22px;
  color: #4A5568;
}

.container .loginBox .inputBox .infoInput .inputStyle {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  color: #4A5568;
  line-height: 22px;
  padding: 14px 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.container .loginBox .inputBox .infoInput .forgetPwd {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  float: right;
}

.container .loginBox .inputBox .btn {
  height: 50px;
  background: #04C45C;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}