.viewContainer {
  margin: auto;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 60px;
}

.viewContainer .containerWidth {
  width: 1024px;
  position: relative;
}

.viewContainer .contentWidth {
  width: 774px;
}

.viewContainer .contentWidth .advertisingWidth {
  width: 240px;
  position: absolute;
  right: calc(50% - 521px);
  top: 0;
  height: 260px;
  background-color: #fff;
  padding: 4px;
}
.viewContainer .advertisingWidth .imgBox{
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
}
.viewContainer .advertisingWidth .imgBox img{
  width: 100%;
  height: 100%;
}
.viewContainer .advertisingWidth .adText {
  color: #999;
  padding: 0 12px;
  line-height: 20px;
  font-size: 16px;
}


/* 图片 start */
.viewContainer .imgBox .viewImg {
  width: 100%;
  height: 320px;
  margin-bottom: 32px;
}
/* 图片 end */
/* 标题 start */
.viewContainer .viewTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  margin-bottom: 8px;
}
/* 标题 end */
/* 作者信息 start */
.viewContainer .authorBox {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.viewContainer .authorBox .avatar {
  width: 32px;
  height: 32px;
  border-radius: 14px;
  background: url(assets/avatar.png) no-repeat;
  background-size: 32px;
  margin-right: 8px;
}
.viewContainer .authorBox .name, .viewContainer .authorBox .date, .viewContainer .authorBox .views {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin-right: 16px;
}
/* 作者信息 end */
/* 正文 start */
.viewContainer .descriptionBox>p {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  margin: 0;
}
/* 正文 end */
/* 打赏 start */
.viewContainer .exceptional {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.viewContainer .exceptional .text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #666;
  margin-bottom: 8px;
}
.viewContainer .exceptional .icon {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewContainer .exceptional .icon #img-payCode {
  display: none;
}
.viewContainer .exceptional .reward {
  margin-top: 26px;
  display: flex;
  justify-content: center;
}
.viewContainer .exceptional .reward >div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewContainer .exceptional .reward img{
  width: 16px;
  height: 16px;
}
.viewContainer .exceptional .reward span {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  display: inline-block;
  margin-left: 4px;
}

/* 打赏 end */
/* 评论 start */
.viewContainer .commentBox {
  margin-top: 18px;
}
.viewContainer .commentBox .title {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 16px;
}
.viewContainer .commentBox .commentInof {
  margin-bottom: 30px;
}

.viewContainer .commentBox .commentInof:hover >.commentReply {
  visibility: visible;
  width: 20px;
}

.viewContainer .commentBox .commentInof .commentPersonal {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.viewContainer .commentBox .commentInof .commentPersonal .avatar {
  width: 32px;
  height: 32px;
  border-radius: 14px;
  background: url(assets/avatar.png) no-repeat;
  background-size: 32px;
  margin-right: 8px;
}
.commentPersonal .name, .commentPersonal .date {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin-right: 16px;
}
.commentPersonal .date {
  color: #999999;
}
.viewContainer .commentBox .commentInof .commentContent {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 8px;
  padding-left: 40px;
}
.viewContainer .commentBox .commentInof .commentReply {
  padding-left: 40px;
  visibility: hidden;
}
.viewContainer .commentBox .commentTextarea {
  /* display: flex; */
}
.viewContainer .commentBox .commentTextarea .avatar{
  padding-left: 40px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 14px;
  background: url(assets/avatar.png) no-repeat;
  background-size: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.viewContainer .commentBox .commentTextarea .avatar .avatarName {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.viewContainer .commentBox .commentTextarea .review {
  position: relative;
  width: 100%;
  height: 200px;
}
.viewContainer .commentBox .commentTextarea .review .inputBox {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  outline: none;
  resize:none;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 4px;
}
.viewContainer .commentBox .commentTextarea .review .operation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.viewContainer .commentBox .commentTextarea .review .operation .operationArea {
  flex: 1;
}
.viewContainer .commentBox .commentTextarea .review .operation .commentButton {
  width: 70px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #51B266;
  color: #fff;
  cursor: pointer;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

@media (max-width: 414px) {
  .viewContainer {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .viewContainer .containerWidth {
    width: calc(100% - 32px);
    padding: 16px;
  }
  .viewContainer .containerWidth .contentWidth {
    width: 100%;
  }
  .viewContainer .contentWidth .advertisingWidth {
    position: unset;
    width: 100%;
    display: block;
    padding: 0;
  }
  .viewContainer .contentWidth .advertisingWidth .imgBox {
    display: table-cell;
    vertical-align: middle;
  }
  .viewContainer .contentWidth .advertisingWidth .imgBox img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
  .viewContainer .contentWidth .advertisingWidth .adText {
    margin-top: 12px;
  }

}