.viewContainer {
  margin: auto;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  min-width: 1024px;
  padding-bottom: 100px;
  padding-top: 60px;
}

.viewContainer .containerWidth {
  width: 1024px;
  position: relative;
}

.viewContainer .contentWidth {
  width: 774px;
}

.viewContainer .contentWidth .advertisingWidth {
  width: 240px;
  position: absolute;
  right: calc(50% - 521px);
  top: 0;
  height: 260px;
  background-color: #fff;
  padding: 4px;
  cursor: pointer;
}
.viewContainer .advertisingWidth .imgBox{
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
}
.viewContainer .advertisingWidth .imgBox img{
  width: 100%;
  height: 100%;
}
.viewContainer .advertisingWidth .adText {
  color: #999;
  padding: 0 12px;
  line-height: 20px;
  font-size: 16px;
}


/* 图片 start */
.viewContainer .imgBox .viewImg {
  width: 100%;
  height: 320px;
  margin-bottom: 32px;
}
/* 图片 end */
/* 标题 start */
.viewContainer .viewTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  margin-bottom: 8px;
}
/* 标题 end */
/* 作者信息 start */
.viewContainer .authorBox {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.viewContainer .authorBox .avatar {
  width: 24px;
  height: 24px;
  border-radius: 14px;
  background: url(assets/avatar.svg) no-repeat;
  background-size: 24px;
  margin-right: 8px;
}
.viewContainer .authorBox .name, .viewContainer .authorBox .date, .viewContainer .authorBox .views {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin-right: 16px;
}
/* 作者信息 end */
/* 正文 start */
.viewContainer .descriptionBox>p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  margin: 0;
}
.viewContainer .descriptionBox>h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-image: linear-gradient(to bottom,transparent 50%, rgba(0,0,0,0.1) 50%) 0 0 100%/1px 0;
}
.viewContainer .descriptionBox>p>img {
  width: 100%;
}
.viewContainer .descriptionBox>pre {
  overflow: auto;
  background: #eee;
}

.viewContainer .descriptionBox>pre>code {
  font-size: 12px;
  padding: 15px 12px;
  margin: 0;
  word-break: normal;
  display: block;
  overflow-x: auto;
}

.viewContainer .descriptionBox>blockquote {
  color: #666;
  padding: 1px 23px;
  margin: 22px 0;
  border-left: 4px solid #cbcbcb;
  background-color: #f8f8f8;
}

.viewContainer .descriptionBox>blockquote>p {
  margin: 10px 0;
}

.viewContainer .descriptionBox a {
  text-decoration: none;
  color: #0269c8;
  border-bottom: 1px solid #d1e9ff;
}

.viewContainer .descriptionBox a>strong {
  color: #0269c8;
}

.viewContainer .descriptionBox strong{
  font-weight: 700;
  color: #333;
}

.viewContainer .descriptionBox ul > li {
  margin-bottom: 2px;
  min-height: 26px;
}

/* 正文 end */
/* 打赏 start */
.viewContainer .exceptional {
  width: 100%;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}
.viewContainer .exceptional .text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #666;
  margin-bottom: 8px;
}
.viewContainer .exceptional .icon {
  width: 150px;
  /* height: 150px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.viewContainer .exceptional .icon img {
  cursor: pointer;
  width: 100%;
  display: block;
}
.viewContainer .exceptional .icon #img-reward {
  width: 50px;
  display: unset;
  transition: all 0.5s;
}
.viewContainer .exceptional .icon #img-reward:hover {
  transform: translateY(-2px);
}
.viewContainer .exceptional .icon #img-payCode {
  display: none;
}
.viewContainer .exceptional .reward {
  margin-top: 26px;
  display: flex;
  justify-content: center;
}
.viewContainer .exceptional .reward >div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewContainer .exceptional .reward img{
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.viewContainer .exceptional .reward span {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  display: inline-block;
  margin-left: 4px;
}

/* 打赏 end */
/* 评论 start */
.viewContainer .commentBox {
  margin-top: 18px;
}
.viewContainer .commentBox .title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 16px;
}
.viewContainer .commentBox .commentInof {
  margin-bottom: 30px;
}

.viewContainer .commentBox .commentInof:hover >.commentReply {
  visibility: visible;
  width: 20px;
}

.viewContainer .commentBox .commentInof .commentPersonal {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.viewContainer .commentBox .commentInof .commentPersonal .avatar {
  width: 32px;
  height: 32px;
  border-radius: 14px;
  background: url(assets/avatar.svg) no-repeat;
  background-size: 32px;
  margin-right: 8px;
}
.commentPersonal .name, .commentPersonal .date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin-right: 16px;
}
.commentPersonal .date {
  color: #999999;
}
.viewContainer .commentBox .commentInof .commentContent {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 8px;
  padding-left: 40px;
}
.viewContainer .commentBox .commentInof .commentReply {
  padding-left: 40px;
  visibility: hidden;
}
.viewContainer .commentBox .commentTextarea {
  /* display: flex; */
}
.viewContainer .commentBox .commentTextarea .avatar{
  padding-left: 40px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 14px;
  background: url(assets/avatar.svg) no-repeat;
  background-size: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.viewContainer .commentBox .commentTextarea .avatar .avatarName {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.viewContainer .commentBox .commentTextarea .review {
  position: relative;
  width: 100%;
  height: 200px;
}
.viewContainer .commentBox .commentTextarea .review .inputBox {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  outline: none;
  resize:none;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 4px;
}
.viewContainer .commentBox .commentTextarea .review .operation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.viewContainer .commentBox .commentTextarea .review .operation .operationArea {
  flex: 1;
}
.viewContainer .commentBox .commentTextarea .review .operation .commentButton {
  width: 70px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #51B266;
  color: #fff;
  cursor: pointer;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 1064px) {
  .viewContainer{ 
    width: 100%;
    min-width: 0;
  }
  .viewContainer .containerWidth { 
    width: 100%;
  }
  .viewContainer .contentWidth {
    width: 90%;
    margin: 0 auto;
  }
  .viewContainer .contentWidth .advertisingWidth {
    display: none;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

@media (max-width: 414px) {
  .viewContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 0;
  }
  .viewContainer .containerWidth {
    width: calc(100% - 32px);
    padding: 16px;
  }
  .viewContainer .containerWidth .contentWidth {
    width: 100%;
  }
  .viewContainer .contentWidth .advertisingWidth {
    position: unset;
    width: 100%;
    display: block;
    padding: 0;
  }
  .viewContainer .contentWidth .advertisingWidth .imgBox {
    display: table-cell;
    vertical-align: middle;
  }
  .viewContainer .contentWidth .advertisingWidth .imgBox img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
  .viewContainer .contentWidth .advertisingWidth .adText {
    margin-top: 12px;
  }

}