@import '~less/variables';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin: 16px;

  .showTitle {
    margin-left: 10px;
    font-size: @size-tiny-large;
    font-weight: @font-bold;
    color: @white;
  }

  .hideTitle {
    display: none;
  }
}