@import '~less/variables';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin: 16px;
}

.show {
  margin-left: 10px;
  font-size: @size-tiny-large;
  font-weight: @font-bold;
  color: @white;
}

.hide {
  display: none;
}