@import '~less/variables';

.releaseArticleForm {
  padding: 10px 30px;

  :global(.ant-form-item-has-error) {
    margin-bottom: 0;
  }

  :global(.ant-form-item:nth-last-child(2)) {
    margin-right: 0;
  }
}

.btns {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: @sider-width;
  margin-bottom: 10px !important;
  text-align: center;
  z-index: 2;

  .btn {
    margin-right: 10px;
  }
}

.tabs {
  height: calc(100vh - @header-height - 60px - 74px - 32px);

  :global(.ant-tabs-content) {
    height: 100%;
  }
}