@import '~less/variables';
@import '~less/mixins';

.advertWrapper {
  width: 500px;
  margin-left: 200px;

  header {
    margin-left: 50px;
    margin-bottom: 20px;
    .TypographyTitleH4(#000000)
  }

  :global(.ant-form-item:last-child) {
    float: right;
  }
}

@media screen and(max-width: 575px) {
  .advertWrapper {
    header {
      margin-left: 0;
    }

    :global(.ant-form-item:last-child) {
      float: unset;
    }
  }
}