extends ./layouts/default

block title
  title SimpleCMS | 趣写

block style
  include ./includes/cates.css

block content
  .labelBox
    each val in labels
      span.label(style=`background: ${val.c}`) #{val.k}
        i (#{val.n})
              
              