@import '~less/variables';

.header {
  margin-bottom: 12px;
  color: @text-color;
  font-weight: @font-bold;
  font-size: @size-tiny-large;
  line-height: 28px;
}

.basicView {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 12px;
}

.left {
  min-width: 40%;
  max-width: 50%;
}
  
.right {
  text-align: center;
  padding-left: 104px;
}

.avatar {
  width: 144px;
  height: 144px;
  margin-bottom: 12px;
  overflow: hidden;
}