doctype html
html
 head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  block title
  style
    include ../includes/header.css
    block style
  include ../includes/scripts
 body
    if url === '/login' || url === '/registered'
      block content
    else
      include ../components/header.pug
      block content 
      a.copyright(
        href='https://github.com/MrXujiang/simpleCMS'
      ) #{copyright}